*.pyc
_version.py
__pycache__
build/
dist/
sdist/
*.egg-info/
vivado_prj
.vscode
my-hls-test
*.tar.gz
docs/_build
docs/autodoc/*
hls4mlprj_*
hls4ml_prj_*
*core.py
*example.py
keras_cnn.py
dataloader.py
*~